<div class="container content">

  <div class="container-fluid" *ngIf="object != null">
    <div class="row">
      <div class="col-sm-8">
        <h2> {{getFullName()}}</h2><br/>
        <p *ngIf="object.description != null"> {{object.description}}</p>
      </div>
      <div class="col-sm-4">
        <img class="img-fluid" *ngIf="object.img_url != null"
             [src]=object.img_url>
      </div>
    </div>
    <br/>

    <div class="row" *ngIf="object.email != null">
      <div class="col">
        <h4> Contacto</h4>
        <p> {{object.email}}</p>
      </div>

    </div>

    <div class="row" *ngIf="projects != null">
      <div class="col" *ngIf="projects.length > 0">
        <h4> Proyectos</h4>

        <p *ngFor="let obj of projects">
          {{obj.name}} {{ obj.id}}
        </p>

      </div>
    </div>

    <br/>

    <div class="row" *ngIf="object.detail != null">
      <div class="col">
        <p> {{object.detail}}</p>
      </div>
    </div>

    <div class="row" *ngIf="object.location != null">
      <div class="col">
        <h4> Ubicación </h4>
        <p> {{object.location}}</p>
      </div>
    </div>

  </div>

</div>
