<div class="container content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2 class="page-header">Acción Social</h2>
      </div>
    </div>
  </div>
  <br/>

  <div class="row featurette" *ngFor="let obj of content">
    <div class="col-md-5">

      <img class="img-fluid" *ngIf="obj.img_url != null"
           [src]=obj.img_url>
    </div>
    <div class="col-md-7">
      <h5 class="article-heading">{{obj.id}}</h5>
      <h5 class="article-heading">{{obj.name}}</h5>
      <p class="lead">Detalle del proyecto</p>
      <button class="btn btn-custom"
              (click)="onClickDetails(obj)">Ver detalles</button>
    </div>
  </div>

  <br/>

</div>
