<div class="container content">

  <div class="container-fluid" *ngIf="object != null">
    <div class="row">
      <div class="col">
        <h2> {{object.name}}</h2>
      </div>

      <div class="col">
        <img class="img-fluid" *ngIf="object.img_url != null"
             [src]=object.img_url>
      </div>
    </div>

    <div class="row col">
      <p *ngIf="object.description != null"> {{object.description}}</p>
    </div>

    <br/>

    <div class="row col">
      <h4> Sigla</h4>
    </div>

    <div class="row col">
      <p> {{object.id}}</p>
    </div>

    <br/>

    <div class="row" *ngIf="coordinators != null">
      <div class="col" *ngIf="coordinators.length > 0">
        <h4 *ngIf="coordinators.length == 1">Coordinador </h4>
        <h4 *ngIf="coordinators.length > 1"> Coordinadores </h4>

        <p *ngFor="let obj of coordinators">
          {{getFullName(obj)}}

        </p>

      </div>
    </div>

    <br/>

    <div class="row" *ngIf="collaborators != null">
      <div class="col" *ngIf="collaborators.length > 0">
        <h4 *ngIf="collaborators.length == 1">Colaborador </h4>
        <h4 *ngIf="collaborators.length > 1"> Colaboradores</h4>

        <p *ngFor="let obj of collaborators">
          {{getFullName(obj)}}
        </p>

      </div>
    </div>

    <br/>


    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <!--Google map-->
          <div id="gmap" class="z-depth-1" style="height: 350px;width: 100%;">
            <agm-map [draggableCursor]="false" [mapDraggable]="false" [zoom]="zoom" [latitude]="mapLat"
                     [longitude]="mapLng" style="height: 100%;width: 100%;">
              <agm-marker [title]="markerTitle" [latitude]="markerLat" [longitude]="markerLng"></agm-marker>
            </agm-map>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
