<div class="container content">

  <div class="container-fluid" *ngIf="object != null">
    <div class="row">
      <div class="col-sm-8">
        <h2> {{getFullName(object)}}</h2><br/>
        <p *ngIf="object.description != null"> {{object.description}}</p>
      </div>
      <div class="col-sm-4">
        <img class="img-fluid" *ngIf="object.img_url != null"
             [src]=object.img_url>
      </div>
    </div>
    <br/>

  </div>

</div>
