<div class="container content">

  <div class="container-fluid" *ngIf="object != null">
    <div class="row">
      <div class="col-sm-8">
        <h2>{{getFullName()}}</h2><br/>
        <p *ngIf="object.description != null"> {{object.description}}</p>
      </div>
      <div class="col-sm-4">
        <img class="img-fluid" *ngIf="object.img_url != null"
             [src]=object.img_url>
      </div>
    </div>
    <br/>


    <div class="row" *ngIf="projects != null">
      <div class="col" *ngIf="projects.length > 0">
        <h4> Proyectos</h4>

        <p *ngFor="let obj of projects">
          {{ obj.id}} - {{obj.name}}
        </p>

      </div>
    </div>

    <br/>
    <div class="row" *ngIf="academicUnits != null">
      <div class="col" *ngIf="academicUnits.length > 0">
        <h4> Unidades Académicas</h4>

        <p *ngFor="let obj of academicUnits">
          {{obj.name}}
        </p>

      </div>
    </div>

    <br/>

  </div>

</div>
