<div class="container content">

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2>Contacto</h2>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col" *ngIf="formSent == false">
        <div class="well well-sm">
          <form class="form-horizontal" [formGroup]="contactForm">
            <fieldset>

              <!-- Name input-->
              <div class="form-group">
                <label class="control-labelfre" for="name">Nombre</label>
                <input id="name" formControlName="name" name="name" type="text" class="form-control">
              </div>

              <!-- Email input-->
              <div class="form-group">
                <label class="control-label" for="email">Correo electrónico</label>
                <input id="email" formControlName="email" name="email" type="text" class="form-control">
              </div>

              <!-- Subject input-->
              <div class="form-group">
                <label class="control-label" for="subject">Asunto</label>
                <input id="subject" formControlName="subject" name="subject" type="text" class="form-control">
              </div>


              <!-- Message body -->
              <div class="form-group">
                <label class="control-label" for="message">Mensaje</label>
                <textarea class="form-control" formControlName="message" id="message" name="message"
                          rows="5"></textarea>

              </div>

              <!-- Form actions -->
              <div class="form-group">
                <div class="col-md-12 text-right">
                  <button (click)="onSendContactForm()" [disabled]="!contactForm.valid"
                          class="btn btn-custom btn-lg">Enviar
                  </button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="col" *ngIf="formSent == true">
        <h4> Formulario enviado </h4>
        <p>¡Gracias por contactarnos!</p>
      </div>
    </div>

  </div>

</div>

