<div style="background-color: #F8AE00;">
  <div class="container">
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            Universidad de Costa Rica
            <a href="tel:25110000" title="Teléfono">Teléfono 2511-0000</a>
          </div>
          <div class="col">
            Vicerrectoría de Ación Social
            <a href="tel:25111211" title="Teléfono">Teléfono 2511-1211</a>
          </div>
          <div class="col">
            Vicerrectoría de Investigación
            <a href="tel:25111330" title="Teléfono">Teléfono 2511-1330</a>
          </div>
          <div class="col">
            <div class="row">
              <a target="_blank"
                 href="https://www.facebook.com/Programa-Institucional-Osa-Golfo-Dulce-PiOsa-1504078793169084/">
                Facebook PiOsa
              </a>
            </div>
            <div class="row">
              <a target="_blank" href="http://www.konradjimenez.com">Konrad Jiménez 2018
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>
</div>
