
.header {
  background-color: #41ADE7;
}

.header-img {
  height: 62px;
  max-width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo-img {
  height: 100px;
  max-width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}
