
<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img class="first-slide"
             style="width: 100%;"
             src="https://scontent.fsyq1-1.fna.fbcdn.net/v/t1.0-9/31582218_2040262076217417_3474693186016772096_o.jpg?_nc_cat=0&oh=d652c6eebcb20599d9a493febc80d01f&oe=5B762E02"
             alt="First slide">
        <div class="container">
          <div class="carousel-caption d-none d-md-block text-left">
            <h1>Example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
              metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="second-slide"
             style="width: 100%;"
             src="https://scontent.fsyq1-1.fna.fbcdn.net/v/t1.0-9/33083929_2048490988727859_1497913876484718592_o.jpg?_nc_cat=0&oh=cf8b2091461274d9a45cd226425c4958&oe=5B7B4620"
             alt="Second slide">
        <div class="container">
          <div class="carousel-caption d-none d-md-block">
            <h1>Another example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
              metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="third-slide"
             style="width: 100%;"
             src="https://scontent.fsyq1-1.fna.fbcdn.net/v/t1.0-9/32972125_2048491618727796_920696664476352512_o.jpg?_nc_cat=0&oh=022df7b75a6cbad850cc4f49611c25de&oe=5B7D154D"
             alt="Third slide">
        <div class="container">
          <div class="carousel-caption d-none d-md-block text-right">
            <h1>One more for good measure.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
              metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
