<div class="container content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2>Acerca de PiOSA</h2> <br/>
        <p>El Programa Institucional Osa-Golfo Dulce nace en 2004, por la iniciativa voluntaria de un grupo de docentes
          de distintas carreras (Biología, Economía Agrícola y Trabajo Social) de las sedes Rodrigo Facio y de
          Occidente, con proyectos e intereses en la Península de Osa, bajo el objetivo de responder, desde los recursos
          y capacidades de la Universidad de Costa Rica en términos de investigación, acción social y docencia, a las
          demandas históricas de la región.
        </p>
      </div>
      <div class="col-sm-4">
        <img class="rounded-circle"
             src="../../../../assets/img/osoHormiguero.jpg">
      </div>
    </div>
  </div>

  <div class="container-fluid bg-grey">
    <div class="row">
      <h2 style="text-align: center;width: 100%;">Objetivo</h2>
    </div>
    <br/>
    <div class="row">
      <p>
        Promover la articulación en red entre actores universitarios, locales e institucionales a través de proyectos de
        investigación, acción social y docencia de la Universidad de Costa Rica, que amplíen el conocimiento histórico,
        ecológico, socio-económico y cultural de la Península de Osa y el Golfo Dulce, con miras a la generación
        integral de respuestas ante diversas necesidades y problemáticas regionales.
      </p>
    </div>
  </div>
  <br/>
  <div class="container-fluid">
    <div class="row">

      <div class="col">
        <img class="rounded"
             src="../../../../assets/img/img4.jpg">
      </div>
      <div class="col ">
        <h2>Ejes de Acción</h2><br/>
        <p>Articulación de proyectos universitarios: A través de diferentes actividades de identificación y vinculación,
          se propicia que docentes de distintas áreas conozcan las necesidades y potenciales de la Península de Osa con
          el fin de incentivar que nuevos proyectos se planteen para la región. Así mismo, se da a conocer PiOsa como un
          espacio universitario que potencia la incidencia de los esfuerzos universitarios en la zona.</p>
      </div>
    </div>
  </div>
  <br/>
  <div class="container-fluid">
    <div class="row">

      <div class="col">
        <h2>Ejes Transversales</h2><br/>
        <p>Interdisciplinariedad: PiOsa, desde su surgimiento hasta la actualidad, ha estado conformado por docentes de
          diversas carreras, lo que promueve la potencialización de resultados a través de la articulación de distintas
          iniciativas, una reflexión constante y conjunta sobre los retos y el papel que desempeña la Universidad en la
          Península y la intervención en la región desde una visión integral.</p>
      </div>

      <div class="col">
        <img class="rounded"
             src="../../../../assets/img/img2.jpg">
      </div>
    </div>
  </div>
  <br/>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <img class="rounded"
             src="../../../../assets/img/img5.jpg">
      </div>
      <div class="col">
        <h2>Proyecciones</h2><br/>
        <p>Para el futuro, el Programa espera poder continuar con sus líneas de acción, facilitando la interacción de
          sus proyectos adscritos y acompañando las comunidades locales de la Región Sur de Costa Rica, así como
          aumentar la cantidad de proyectos adscritos que tienen relación con la zona.</p>
      </div>


    </div>
  </div>
  <br/>
  <div class="container-fluid">
    <div class="row">

      <div class="col">
        <h2>Estructura</h2><br/>
        <p>El Programa Institucional Osa-Golfo Dulce pertenece a la Vicerrectoría de Acción Social y, en términos de su
          estructura interna, se conforma por distintos proyectos adscritos, un Núcleo Coordinador y una
          Coordinación.</p>
      </div>

      <div class="col">
        <img class="rounded"
             src="../../../../assets/img/img1.jpg">
      </div>
    </div>
  </div>
  <br/>

  <br/>
  <div class="container-fluid">
    <div class="row">
      <h2>Adscripción de proyectos</h2>
    </div>
    <br/>
    <div class="row">

      <p>Cualquier persona docente de la Universidad de Costa Rica que tenga un proyecto inscrito en su Unidad Académica
        o que tenga interés en realizar algún proyecto o trabajo en la Región Sur se puede adscribir al Programa.
        Estudiantes con iniciativas estudiantiles en la Península de Osa y tesiarios de grado y posgrado que desarrollen
        sus trabajos finales de graduaciónen la zona también se pueden adscribir.
      </p>
      <p><strong>Procedimiento de adscripción:</strong></p>

      <ol>
        <li>
          Enviar un correo a PiOsa (piosa@ucr.ac.cr) señalando el interés de formar parte del Programa y la iniciativa
          que desarrolla o desea desarrollar.
        </li>
        <li>
          Reunirse con la Coordinación del Programa para que se le facilite mayor información sobre el funcionamiento.
        </li>
        <li>
          Presentar de forma expositiva su interés e iniciativa en una reunión del Núcleo Coordinador.
        </li>
        <li>
          Coordinar el aporte de PiOsa al proyecto y del proyecto a PiOsa.
        </li>
      </ol>

    </div>
  </div>

  <!--<h2>Galería</h2> <br/>-->
  <!--<app-main-carousel></app-main-carousel>-->

</div>


