
.rounded {
  max-height: 300px;
  margin: auto;
  display: block;
}

.rounded-circle {
  /*max-height: 200px;*/
  max-width: 250px;
  margin: auto;
  display: block;
}


@media only screen and (min-width: 200px) {
  .rounded {
    max-width: 200px;
  }
}

@media only screen and (min-width: 300px) {
  .rounded {
    max-width: 250px;
  }
}

@media only screen and (min-width: 600px) {
  .rounded {
    max-width: 300px;
  }
}

@media only screen and (min-width: 1200px) {
  .rounded {
    max-width: 350px;
  }
}
