<!--<app-advance></app-advance>-->
<!--<br/>-->
<!--<app-main-carousel></app-main-carousel>-->
<!--<br/>-->
<!--<app-announcements></app-announcements>-->
<!--<br/>-->

<div class="container content">
  <!--<div class="container-fluid">-->
  <!--&lt;!&ndash;<mwl-demo-utils-calendar-header&ndash;&gt;-->
  <!--&lt;!&ndash;[(view)]="view"&ndash;&gt;-->
  <!--&lt;!&ndash;[(viewDate)]="viewDate">&ndash;&gt;-->
  <!--&lt;!&ndash;</mwl-demo-utils-calendar-header>&ndash;&gt;-->

  <!--<ng-template #customCellTemplate let-day="day" let-locale="locale">-->
  <!--<div class="cal-cell-top">-->
  <!--<span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>-->
  <!--<span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>-->
  <!--</div>-->
  <!--&lt;!&ndash;<small style="margin: 5px">There are {{ day.events.length }} events on this day</small>&ndash;&gt;-->
  <!--</ng-template>-->

  <!--<div [ngSwitch]="view">-->
  <!--<mwl-calendar-month-view-->
  <!--*ngSwitchCase="'month'"-->
  <!--[viewDate]="viewDate"-->
  <!--[events]="events"-->
  <!--[cellTemplate]="customCellTemplate">-->
  <!--</mwl-calendar-month-view>-->
  <!--<mwl-calendar-week-view-->
  <!--*ngSwitchCase="'week'"-->
  <!--[viewDate]="viewDate"-->
  <!--[events]="events">-->
  <!--</mwl-calendar-week-view>-->
  <!--<mwl-calendar-day-view-->
  <!--*ngSwitchCase="'day'"-->
  <!--[viewDate]="viewDate"-->
  <!--[events]="events">-->
  <!--</mwl-calendar-day-view>-->
  <!--</div>-->
  <!--</div>-->

  <div class="container-fluid" *ngFor="let object of content; let i=index">

    <div *ngIf="i%2 != 0">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid" [src]="object.img_url">
        </div>
        <div class="col-md-8">
          <h2 class="article-heading">{{object.title}}</h2>
          <br/>
          <p>{{object.resume}}</p>
          <p>{{object.content}}</p>
          <!--<button class="btn btn-custom">Ver detalles</button>-->
        </div>

      </div>
      <br/>
    </div>

    <div *ngIf="i%2 == 0">
      <div class="row">
        <div class="col-md-8">
          <h2 class="article-heading">{{object.title}}</h2>
          <br/>
          <p>{{object.resume}}</p>
          <p>{{object.content}}</p>
          <!--<button class="btn btn-custom">Ver detalles</button>-->

        </div>
        <div class="col-md-4">
          <img class="img-fluid" [src]="object.img_url">
        </div>
      </div>
      <br/>
    </div>

  </div>

  <!--<div class="container-fluid">-->
  <!--<div class="row">-->
  <!--<div class="col">-->
  <!--&lt;!&ndash;Google map&ndash;&gt;-->
  <!--<div id="gmap" class="z-depth-1" style="height: 350px;width: 100%;">-->
  <!--<agm-map [draggableCursor]="false" [mapDraggable]="false" [zoom]="zoom" [latitude]="mapLat"-->
  <!--[longitude]="mapLng" style="height: 100%;width: 100%;">-->
  <!--<agm-marker [title]="markerTitle" [latitude]="markerLat" [longitude]="markerLng"></agm-marker>-->
  <!--</agm-map>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--</div>-->
</div>



