<div class="container content">

  <div *ngFor="let team of workTeams">

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h2>{{team.name}}</h2>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-3 col-md-4 col-sm-4" *ngFor="let obj of team.professors">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="row">
                  <img class="img-fluid" *ngIf="obj.img_url != null"
                       [src]=obj.img_url>
                </div>
                <br/>
                <div class="row">
                  <h5 class="header-title" style="display: table-cell;vertical-align: middle;text-align: center">
                    {{getFullName(obj)}}</h5>
                </div>
                <div class="row">
                  <p class="p-centered" style="display: table-cell;vertical-align: middle;text-align: center">Detalle
                    del
                    profesor</p>
                </div>
                <!--<br/>-->
                <!--<div class="row">-->
                  <!--<button class="btn btn-custom" (click)="onClickProfessor(obj)">Ver detalles</button>-->
                <!--</div>-->
              </div>
            </div>
          </div>
          <br/>

        </div>
      </div>

    </div>

    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-3 col-md-4 col-sm-4" *ngFor="let obj of team.assistants">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="row">
                  <img class="img-fluid" *ngIf="obj.img_url != null"
                       [src]=obj.img_url>
                </div>
                <!--<br/>-->
                <div class="row">
                  <h5 class="header-title" style="display: table-cell;vertical-align: middle;text-align: center">
                    {{getFullName(obj)}}</h5>
                </div>
                <div class="row">
                  <p class="p-centered" style="display: table-cell;vertical-align: middle;text-align: center">Detalle
                    del
                    profesor</p>
                </div>
                <br/>
                <!--<div class="row">-->
                  <!--<button class="btn btn-custom" (click)="onClickDetails(obj)">Ver detalles</button>-->
                <!--</div>-->
              </div>
            </div>
          </div>
          <br/>

        </div>
      </div>

    </div>

  </div>

</div>
