<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="../assets/img/logoPiosa.png" alt="Site Logo" class="logo-img">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active" *ngFor="let menuItem of menuItems">
          <a class="nav-link"
             [routerLink]="[menuItem.path]" [routerLinkActive]="['router-link-active']"
             data-offset="60">
            {{menuItem.title}}
            <a [routerLink]="[menuItem.path]"></a>
          </a>
        </li>
      </ul>
    </div>
  </nav>

</div>
