<!--<app-advance></app-advance>-->
<!--<br/>-->
<!--<app-main-carousel></app-main-carousel>-->
<!--<br/>-->
<!--<app-announcements></app-announcements>-->
<!--<br/>-->

<div class="container content">

  <div class="container-fluid" *ngFor="let object of articles; let i=index">

    <div *ngIf="i%2 != 0">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid" [src]="object.img_url">
        </div>
        <div class="col-md-8">
          <h2 class="article-heading">{{object.title}}</h2>
          <br/>
          <p>{{object.resume}}</p>
          <p>{{object.content}}</p>
          <!--<button class="btn btn-custom">Ver detalles</button>-->
        </div>

      </div>
      <br/>
    </div>

    <div *ngIf="i%2 == 0">
      <div class="row">
        <div class="col-md-8">
          <h2 class="article-heading">{{object.title}}</h2>
          <br/>
          <p>{{object.resume}}</p>
          <p>{{object.content}}</p>
          <!--<button class="btn btn-custom">Ver detalles</button>-->

        </div>
        <div class="col-md-4">
          <img class="img-fluid" [src]="object.img_url">
        </div>
      </div>
      <br/>
    </div>

  </div>

  <div class="container-fluid">
    <!--<div class="row">-->
    <!--<div class="col" style="float:right;">-->
    <!--<div class="btn-group">-->
    <!--<div-->
    <!--class="btn btn-primary"-->
    <!--(click)="onChangeView('month')"-->
    <!--[class.active]="view === 'month'">-->
    <!--Mensual-->
    <!--</div>-->
    <!--<div-->
    <!--class="btn btn-primary"-->
    <!--(click)="onChangeView('week')"-->
    <!--[class.active]="view === 'week'">-->
    <!--Semanal-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<br/>-->
    <ng-template #customCellTemplate let-day="day" let-locale="locale">
      <div class="cal-cell-top">
        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0"> </span>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
      </div>
      <!--<small style="margin: 5px">There are {{ day.events.length }} events on this day</small>-->
    </ng-template>

    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [locale]="localeLang"
        (dayClicked)="dayClicked($event.day)"
        [events]="events"
        [activeDayIsOpen]="activeDayIsOpen"
        [cellTemplate]="customCellTemplate">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [locale]="localeLang"
        [viewDate]="viewDate"
        [events]="events">
      </mwl-calendar-week-view>
    </div>

  </div>

  <div class="container-fluid">
    <h2 class="article-heading">Proyectos</h2>
    <br/>
    <div class="row">
      <div class="col">
        <!--Google map-->
        <div id="gmap" class="z-depth-1" style="height: 350px;width: 100%;">
          <agm-map [draggableCursor]="true" [mapDraggable]="true" [zoom]="zoom" [latitude]="mapLat"
                   [longitude]="mapLng" style="height: 100%;width: 100%;">
            <agm-marker [title]="markerTitle" [latitude]="markerLat" [longitude]="markerLng"></agm-marker>
            <agm-marker [title]="markerTitle" [latitude]="markerLat2" [longitude]="markerLng2"></agm-marker>
            <agm-marker [title]="markerTitle" [latitude]="markerLat3" [longitude]="markerLng3"></agm-marker>
          </agm-map>
        </div>
      </div>
    </div>

  </div>
</div>



