
.img-fluid {
  max-height: 200px;
  margin: auto;
  display: block;
}

h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.cal-day-badge {
  background-color: #F9B002;
}
