/* You can add global styles to this file, and also import other style files */
@import 'assets/css/bootstrap.min.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.bg-grey {
  background-color: #f6f6f6;
}

.container-fluid {
  padding: 30px;
}

/*41ADE7*/
.btn-custom {
  background: #86BC25;
  font-size: 15px;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition: all 0.5s ease-in-out;
  border: 0;
  color: white;
  display: block;
  float: right;
}

.btn-custom:hover {
  -webkit-transform: scale(1.05);
  background-color: #41ADE7;
}

.article-heading {
  /*color: black;*/
}

.page-header {
  /*color: #F9B002;*/
}

.content {
  min-height: 550px;
}
